$breakpoints : (tablette:768px, pc:992px, mobile:767px);
$background-localisation: #E6E6E6; 
$background-other: #F2F2F2;
$title-omf: 'shrikhand', cursive;
$txt_police:'Roboto', sans-serif;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
.container__loading__spinner {
    @include loading;
}
.header__logo {
    font-family: $title-omf;
    display: flex;
    justify-content: center;
}
body {
    font-family: $txt_police;
    margin: 0;
}
.localisation {
    @include localisation;
}
.container__reservation {
    @include flex-box-global;
    text-align: center;
    background-color: $background-other;
    & .reservation__title {
        margin-left: 36px;
        margin-right: 36px;
        font-weight: 500;
    }
    & .reservation__p {
        margin-left: 22px;
        margin-right: 22px;
        font-weight: 100;
    }

}
.container__fonction {
    margin-left: 25px;
    margin-right: 25px
}
.fonction__protocole {
    @include flex-box-global;
    background-color: white; 
    @include tablette{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
.fonction__protocole--icon > .fas {
    color: #4e4a4a; 
    font-size: 16px;
    padding-left: 20px;
    padding-right: 10px;    
}
.fonction__protocole--1 {
    @include protocole;
    display: flex;
    flex-direction: row;
    & .fonction__protocole--text {
        font-size: 17px;
        font-weight: bold;
        padding-left: 21px;
    }
    @include tablette {
        margin-right: 22px;
    }
}
.fonction__protocole--2 {
    @include protocole;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    & .fonction__protocole--text {
        font-size: 17px;
        font-weight: bold;
        padding-left: 15px;
    }
    @include tablette {
        margin-right: 22px;
    }
}
.fonction__protocole--3 {
    @include protocole;
    display: flex;
    flex-direction: row;
    & .fonction__protocole--text {
        font-size: 17px;
        font-weight: bold;
        padding-left: 15px;
    }
}
.fonction__protocole--numero {
    @include numero;
}
button {
    background: $gradient;
    color: white;
    font-size: 15px;
    padding: 20px 20px;
    border-radius: 200px;
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.11);  
    border: none;
    opacity: 1;
    cursor: pointer;
        &:hover {
            opacity: 0.8;
            box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.13);  
        }
}
.reservation__button {
    margin-top: 20px;
    margin-bottom: 40px
}
.container__restaurants {
    background-color: $background-other;
    padding-bottom: 25px;
    & .restaurants__title {
        padding-left: 20px;
        padding-top: 35px;
    }
}
.restaurants__class {
    margin-left: 20px;
    margin-right: 20px;
        & a {
            text-decoration: none;
            @include tablette {
                flex-basis: 40%;
                margin: 1em 0;
            }
        }
        @include tablette {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
}
.restaurant__card {
    @include card;
        @include mobile {
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;
        }
}
.restaurant__card--new {
    @include nouveau;
}
.restaurant__card--img {
    position: relative;
}
.restaurant__label {
    @include label;
        & .restaurant__label--info {
            @include label_info;
        } 
}
.restaurant__label--heart {
    @include heart 
}
footer {
    background-color: #363636;
    color: white;
    text-decoration: none;
    font-family: $txt_police;
      & a {
        color: white;
        text-decoration: none;
      }
      & .footer__label {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 20px;
      }
      & i.fas {
          margin-right: 12px;
      }
      & .footer__logo {
          font-family: $title-omf;
          font-size: 23px;
          margin-left: 6px;
          padding: 13px;
      }

}